<ion-view view-title="Imprint">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="m - Way" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="#/tab/mway">
      <ion-nav-view name="mway"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Tweets" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/twitts">
    </ion-tab>

    <ion-tab title="About this app" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/aboutApp">
      <ion-nav-view name="aboutApp"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
