<ion-view view-title="m-Way">
  <ion-content id="mway">
    <div class="card mway-logo">
      <div class="item item-text-wrap">
        <a navigate-to="http://mwaysolutions.com"><img src="img/mway-logo.png" alt="m-Way"/></a>
      </div>
    </div>

    <h1 id="tekst">Empower your business mobility to enrich your productivity</h1>
    <div class="imprint_wrapper">
      <h6 class="imprint">M-Way Solutions GmbH</h6>
      <h6 class="imprint">Stresemannstraße 79</h6>
      <h6 class="imprint">70191 Stuttgart</h6>
      <h6 class="imprint">Germany</h6>
    </div>

    <div class="imprint_wrapper2">
      <h6 class="imprint"><b>Volker Hahn</b>, managing director</h6>
      <h6 class="imprint"><b>Richard Malley</b>, managing director</h6>
    </div>

    <div class="imprint_wrapper2">
      <h6 class="imprint">T: +49 (0) 711 25254 - 60</h6>
      <h6 class="imprint">F: +49 (0) 711 25254 - 70</h6>
    </div>
  </ion-content>
</ion-view>
